<!DOCTYPE HTML>
<html>
  <head>
    <title>Reversi</title>

    <link type="text/css" rel="stylesheet" href="static/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="static/css/reversi.css"/>

  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container pull-left">
          <ul class="nav">
            <li><a href="http://en.wikipedia.org/wiki/Reversi#Rules">Rules</a></li>
        </div>
      </div>
    </div>

    <div class="modal hide" id="playerInfo">
      <div class="modal-header">
        <h3>Player Info</h3>
      </div>
      <div class="modal-body">
        <p>
          What is your name?<br/>
          <input type="text" id="alias" name="alias"></input>
        </p>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn btn-primary">Play</a>
      </div>
    </div>

    <p id="alertBox">Connecting to server...</p>

    <div style="margin: 30px">
      <p id="player_white" class="player">
        <a class="btn">Play White</a>
      </p>
      <p>
        <div id="gameboard" class="gameboard"></div>
      </p>
      <p id="player_black" class="player">
        <a class="btn">Play Black</a>
      </p>
    <div>

    <input type="hidden" id="playerChoice" val=""/>
    <input type="hidden" id="availableSpaces" val="62"/>

    <script src="http://code.jquery.com/jquery-1.7.2.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="static/js/reversi.js"></script>

    <script type="text/javascript">
      $(document).ready(function() {
          buildGameboard()

          $('#playerInfo').bind('hide', requestJoin)
          $('#player_white').click(launchPlayerInfo)
          $('#player_black').click(launchPlayerInfo)
      })

      function requestJoin() {
        var color = $('#playerChoice').val().substring(8)
        var alias = $('#alias').val()

        $('#player_white').unbind('click')
        $('#player_black').unbind('click')

        socket.emit('requestJoin', { color: color, alias: alias })
      }
      
      function setPlayer(color, alias) {
          var id = '#player_' + color
          $(id).children().remove()
          $(id).text(alias)

          if(color == 'white') {
            playerWhite = alias
            $(id).addClass('turn')
          } else {
            playerBlack = alias
          }

          gameplayEnabled = (playerWhite && playerBlack) 
      }

      function launchPlayerInfo() {
          $('#playerChoice').val('#' + $(this).attr('id'))
          $('#playerInfo').modal({ keyboard: false })
      }

      var socket = io.connect('http://localhost')

      socket.on('connect', function() { 
          $('#alertBox').hide() 
      })

      socket.on('playerJoin', function(data) {
          setPlayer(data.color, data.alias)
      })

      socket.on('joinAccepted', function(data) {
        setPlayer(data.color, $('#alias').val())
        playerColor = data.color
        isPlayerTurn = (data.color == 'white')
      })
    
      socket.on('recap', function(data) {
        if(data.white) {
          setPlayer('white', data.white)
        }
        if(data.black) {
          setPlayer('black', data.black)
        }

        updateBoard(data.board)
      })

      socket.on('move', function(data) {
        updateBoard(data.board)
        isPlayerTurn = playerColor && (data.color != playerColor)
      })

    </script>
  </body>
</html>
